Body {
    background-color: #282a36;
    font-family: 'Space Grotesk', monospace;
    font-optical-sizing: auto;
}
main {
    width: 20%;
    margin: auto;
    text-align: left;
}
nav {
    margin: 4rem auto 1.5rem auto;
    padding: 1.2rem 1em 1rem 1em;
    border: 2px solid #bd93f9;
    color: #bd93f9;
    border-radius: 4px;
}
nav:hover {
    background-color: #21222c;
}
#main_title {
    display: flex;
    justify-content: space-between;
}
#nav_buttons {
    font-family: 'Space Mono', monospace;
    text-align: center;
    border: 2px solid #6272a4;
    border-radius: 4px;
    margin: 0 0 0 8rem;
    padding: 0;
    width: 1.7rem;
}
#nav_buttons > p {
    color: #6272a4;
    margin: 0;
    padding: 0.16rem 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav_buttons:hover {
    border: 2px solid #50fa7b;
    color: #50fa7b;
}
#nav_buttons:hover > p {
    color: #50fa7b;
}
section {
    margin: 0px auto 1.5rem auto;
    padding: 1em;
    border: 2px solid #bd93f9;
    border-radius: 4px;
}
section:hover {
    background-color: #21222c;
}
header {
    color: #6272a4; 
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-size: 1.29rem;
    color: #bd93f9;
    font-weight: 600;
}
h3 {
    font-family: 'Space Mono', monospace;
    font-size: 0.95rem;
    font-style: normal;
}
p {
    font-family: 'Space Grotesk', monospace;
	color: #f8f8f2;
    font-size: 1rem;
}
i {
	color: #bd93f9;
    width: 600;
    font-weight: bold; 
}
footer {
    margin: 0px auto 2rem auto;
    padding: 1em;
    border: 2px solid #6272a4;
    border-radius: 4px;
}
footer > p {
    color: #6272a4;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-align: center;
}
footer:hover {
    background-color: #21222c;
}
footer:hover #heart {
    color: #ff5555;
}
#heart::selection {
    color: #ff5555;
}
::selection {
   background: #f1fa8c;
   color: #21222c;
}
