Body {
    background-color: #282a36;
    text-align: center;
    font-family: 'Space Mono', monospace;
}
main {
    width: 20%;
    margin: auto;
    vertical-align: center;
    text-align: left;
}
nav {
    margin: 4rem auto 1.5rem auto;
    padding: 0rem 1em 0rem 1em;
    border: 2px solid #bd93f9;
    color: #bd93f9;
    border-radius: 4px;
}
section {
    margin: 0px auto 2rem auto;
    padding: 1em;
    border: 2px solid #bd93f9;
    border-radius: 4px;
}
header {
    color: #6272a4; 
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 1.29rem;
    color: #bd93f9;
    font-weight: bold;
}
h3 {
    font-size: 0.95rem;
    font-style: normal;
}
p {
    font-family: 'Space Grotesk', sans-serif;
	color: #f8f8f2;
    font-size: 1rem;
    font-optical-sizing: auto;
}
i {
	color: #bd93f9;
    width: 600;
    font-weight: bold; 
}
::selection {
   background: #f1fa8c;
   color: #21222c;
}
